<div class="page-header">
    <h1>Révision phase</h1>
</div>
<h3 class="header smaller lighter green"><i class="fa fa-arrow-circle-o-right fa-3"></i> Sourate : {{sura_name}}</h3>

<hr>
<div class="step-content pos-rel" id="step-container">
    <div ng-class="detectActive(1)" class="step-pane" id="step1">
        <div class="center">
            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in Arabic
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p class="card-word-arabic ar-big">{{word_arabic}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in English
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p ng-hide="steps_selected[0]"><button ng-click="aRepondu(1)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                            <p ng-show="steps_selected[0]" class="card-word-english fader">{{word_traducted}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="detectActive(2)" class="step-pane" id="step2">
        <div class="center">

            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in Arabic
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p ng-hide="steps_selected[1]"><button ng-click="aRepondu(2)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                            <p ng-show="steps_selected[1]" class="card-word-arabic ar-big fader">{{word_arabic}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in English
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p class="card-word-english fader">{{word_traducted}}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div ng-class="detectActive(3)" class="step-pane" id="step3">
        <div class="center">
            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in Arabic
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p class="card-word-arabic ar-big">{{word_arabic}}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box box-cards">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-signal"></i>
                            Word in English
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main ">
                            <p ng-hide="steps_selected[2]"><button ng-click="aRepondu(3)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                            <p ng-show="steps_selected[2]" class="card-word-english fader">{{word_traducted}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="detectActive(4)" class="step-pane" id="step4">
        <div class="center">
            <p class="lead">
                Comment cela s'est passé ?
            </p>
            <div class="col-sm-3">
                <p>
                    <button ng-click="createInterrogation(card_id, 5)" class="btn btn-success btn-block">Facile</button>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    <button ng-click="createInterrogation(card_id, 3)" class="btn btn-warning btn-block">Moyen</button>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    <button ng-click="createInterrogation(card_id, 0)" class="btn btn-danger btn-block">Difficile</button>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    <button class="btn btn-primary btn-block" ng-click="restartLearning()">Je veux recommencer</button>
                </p>
            </div>
        </div>

    </div>

</div>
<div class="wizard-actions">
    <!-- #section:plugins/fuelux.wizard.buttons -->
    <!--<button class="btn btn-prev" ng-click="previousStep()" ng-disabled="disableBtnBack">
    <i class="ace-icon fa fa-arrow-left"></i>
    Prev
    </button>-->
    <button class="btn btn-success btn-next" ng-disabled="disableBtnNext" ng-click="nextStep()" ng-show="step3_show" data-last="Finish">
        Next
        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
    </button>
    <!-- /section:plugins/fuelux.wizard.buttons -->
</div>