<div class="page-header">
    <h1>Learning phase</h1>
</div>
<h3 class="header smaller lighter green"><i class="fa fa-arrow-circle-o-right fa-3"></i> Sourate : {{sura_name}}</h3>
<div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                  <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-check green"></i>

                Vous avez la possibilité de sauter les étapes en cliquant sur les numéros ci-dessous. Ne sautez les étapes <strong>que si vous connaissez parfaitement le mot</strong>
               
              </div>
<div id="fuelux-wizard" data-target="#step-container">
   <!-- #section:plugins/fuelux.wizard.steps -->
   <ul class="wizard-steps">
      <li data-target="#step1" ng-class="detectActive(1)">
         <span ng-click="switchToStep(1)" class="step">1</span>
         <span class="title">Arabic <i class="fa fa-long-arrow-right"></i> English</span>
      </li>
      <li data-target="#step2" ng-class="detectActive(2)">
         <span ng-click="switchToStep(2)" class="step">2</span>
         <span class="title">Arabic <i class="fa fa-long-arrow-left"></i> English</span>
      </li>
      <li data-target="#step3" ng-class="detectActive(3)">
         <span ng-click="switchToStep(3)" class="step">3</span>
         <span class="title">Arabic <i class="fa fa-long-arrow-right"></i> English</span>
      </li>
      <li data-target="#step4" ng-class="detectActive(4)">
         <span ng-click="switchToStep(4)" class="step">4</span>
         <span class="title"><i class="fa fa-question-circle"></i> Final Interrogation</span>
      </li>
   </ul>
   <!-- /section:plugins/fuelux.wizard.steps -->
</div>
<hr>
<div class="step-content pos-rel" id="step-container">
   <div ng-class="detectActive(1)" class="step-pane" id="step1">
      <div class="center">
        <div class="col-sm-6">
          <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                  Word in Arabic
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p class="card-word-arabic ar-big">{{word_arabic}}</p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
           <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                  Word in English
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p ng-hide="steps_selected[0]"><button ng-click="aRepondu(1)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                <p ng-show="steps_selected[0]" class="card-word-english fader">{{word_traducted}}</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
   </div>
   <div ng-class="detectActive(2)" class="step-pane" id="step2">
        <div class="center">
      
        <div class="col-sm-6">
          <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                  Word in Arabic
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p ng-hide="steps_selected[1]"><button ng-click="aRepondu(2)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                <p ng-show="steps_selected[1]" class="card-word-arabic ar-big fader">{{word_arabic}}</p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
           <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                  Word in English
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p class="card-word-english fader">{{word_traducted}}</p>
              </div>
              
            </div>
          </div>
        </div>
      
        </div>
      </div>
   <div ng-class="detectActive(3)" class="step-pane" id="step3">
      <div class="center">
        <div class="col-sm-6">
          <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                  Word in Arabic
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p class="card-word-arabic ar-big">{{word_arabic}}</p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
           <div class="widget-box box-cards">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                  <i class="ace-icon fa fa-signal"></i>
                 Word in English
                </h5>
            </div>
            <div class="widget-body">
              <div class="widget-main ">
                <p ng-hide="steps_selected[2]"><button ng-click="aRepondu(3)"  class="btn btn-danger btn-block">Voir la réponse</button></p>
                <p ng-show="steps_selected[2]" class="card-word-english fader">{{word_traducted}}</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
   </div>
   <div ng-class="detectActive(4)" class="step-pane" id="step4">
    <div class="center">
      <p class="lead">
      Comment cela s'est passé ?
    </p>
    <div class="col-sm-3">
      <p>
                    <button ng-click="returnLearningSuraCtrl()" class="btn btn-success btn-block">Facile</button>
                  </p>
    </div>
    <div class="col-sm-3">
      <p>
                    <button class="btn btn-warning btn-block">Moyen</button>
                  </p>
    </div>
    <div class="col-sm-3">
      <p>
                    <button class="btn btn-danger btn-block">Difficile</button>
                  </p>
    </div>
    <div class="col-sm-3">
      <p>
                    <button class="btn btn-primary btn-block" ng-click="restartLearning()">Je veux recommencer</button>
                  </p>
    </div>
    </div>
    
   </div>
   
</div>
<div class="wizard-actions">
   <!-- #section:plugins/fuelux.wizard.buttons -->
   <!--<button class="btn btn-prev" ng-click="previousStep()" ng-disabled="disableBtnBack">
   <i class="ace-icon fa fa-arrow-left"></i>
   Prev
   </button>-->
   <button class="btn btn-success btn-next" ng-disabled="disableBtnNext" ng-click="nextStep()" ng-show="step3_show" data-last="Finish">
   Next
   <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
   </button>
   <!-- /section:plugins/fuelux.wizard.buttons -->
</div>